* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 15rem;
  border: 1px solid;
}

img {
  max-width: 100%;
}

body {
  max-width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas:
    "header header"
    "cards form";
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  grid-area: cards;
}

form {
  grid-area: form;
}
header {
  padding: 1rem;
  grid-area: header;
  background-color: rgba(240, 202, 34, 0.74);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
}

.read {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
}
.book_info {
  padding: 0.5rem;
}

input[type="search"] {
  appearance: none;
  width: 20rem;
  padding: 5px 10px;
  font-size: large;
  background-color: #f5fcfb;

  border: 1px solid rgb(223, 218, 218);
  border-radius: 20px;
}

select {
  border-radius: 10px;
  width: 5rem;
  font-size: large;
  padding: 2px;
}

.submit {
  padding: 4px;
  border-radius: 5px;
  background-color: #e9d901;
  margin-top: 15px;
}
